@charset "ISO-8859-1";


.my-container {
 	 
	height: 1100px; 
 	background-color: grey; 
 
 	position: relative;
  	margin-top: 2%;
  	border-radius: 37px 37px 37px 37px;
	border: 0px solid #000000;
	opacity: 75%;
/* 	overflow: scroll; */ the table insude should be scrollable.
     overflow: scroll;
 
}

.my-row-1 {
	border:solid;
	background:black;
	border-radius: 37px 37px 0px 0px;
}

.nav-item {
	
 	left: 34%; 
	
}

.input-group mb-3 {
	left: 43%;
}


.dropdown{
	top: -60px;
	left: 81%;
}

/* .dropdown { */
/* 	top: 2px; */
/* 	left: 50%; */
/* 	opacity: 100%; */
/* 	right: 25%; */
/* } */

/* .dropdown-menu { */
/*  	left: 29% !important; */
 	

	
/* } */


.my-col-1{
	height: 35px;
}



.nav-tabs {
    border-bottom: 2px solid #ddd !important;
}

#blah  {
	display: none; 
	
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
	text-align: center;
	position: relative;
	top: 15%;
	height: 40%;
	
	
	
	
}


td{
	word-wrap: break-word;
}

.table {
	top: 20%;	
 	overflow-x: auto;
	overflow-y: auto;    /* Trigger vertical scroll    */
    display: block;
	height: 1000px;
   border: 0px solid #000000;
	
}


body {
 background-image: url("background.jpg");
 
 
 
}


