<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ExpenseReimbursementSystem</display-name>
  <welcome-file-list>
    <welcome-file>/resources/html/login.html</welcome-file>
  </welcome-file-list>
  
  
  
   <servlet> 
  	
  	<!-- Hold control and hover the mouse over the text in the servlet class tag to ensure that the pathname is spelled correctly -->
  	<servlet-name>MasterServlet</servlet-name>
  	<servlet-class>com.masterservlet.MasterServlet</servlet-class>
  
  </servlet>
  
  <servlet-mapping> 
  
    	<servlet-name>MasterServlet</servlet-name>
  		<url-pattern>/masterserv</url-pattern>
  		<url-pattern>/resources/html/login.html</url-pattern>
  		<url-pattern>/resources/html/home.html</url-pattern>
  		<url-pattern>/jason</url-pattern>
  		
  
  </servlet-mapping>
  
  </web-app>